<!DOCTYPE html>
<html>
<head>
    <title>movie library search app</title>
</head>
<body>
    <h1>movie library search app</h1>
    <form action="{{ url_for('search_movies') }}"" method="post">
        <label for="movie_name">Search for a Movie:</label>
        <input type="text" id="movie_name" name="movie_name" required>
        <button type="submit">Search</button>
    </form>
</body>
</html>